@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:"Playwrite NO", sans-serif;
}


.body1 {
    background-image: url(imagens/imagem1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e22222;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family:"Playwrite NO", sans-serif;
    flex-direction: column;
}

.indexDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.botaoClass {
    background-color: #f0f0f0;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: #f0f0f0 0px solid;
    box-shadow: inset 0px -1px 4px #e22222;
    font-family:"Playwrite NO", sans-serif;
}

h1 {
    text-shadow: #f0f0f0 0px 0px 10px ;
}

.botaoClass:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.tempoVi {
    display: flex;
    align-items: initial;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    padding: 30px;
    width: 250px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 0px 10px #f0f0f0;
}

div.tempoVi span.background-tempoVi{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.mainTela1, .dataLugar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body div.mainTela1 {
    background-image: linear-gradient(to top, #000000cf, #00000099 );
    width: 100%;
    height: 100dvh;

}

div.mainTela1 main {
    margin: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.mainTela1 main input {
    margin-top: 20px;
}

li {
    list-style-type: none;
}

body.tela1 {
    background-color: #e22222;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family:"Playwrite NO", sans-serif;
    flex-direction: column;
    background-image: url(imagens/imagem2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.tela1 main.background-section-tela1 {
    text-align: center;
    background-image: linear-gradient(to top, #000000cf, #00000099 );
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body.tela2 {
    background-color: #e22222;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #f0f0f0;
    background-image: url(imagens/imagem3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section h1{
    font-size: 25px;
}

section div.background-video {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

section div.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section div.box {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to top, #000000cf, #00000099 );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
}

section div.box div.text-inbox {
    text-align: center;
    font-size: 20px;
    margin: 60px 20px 60px 20px;
}

section div.box input{
    margin-top: 50px;
}

body.tela4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/imagem4.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f0f0;
}

body.tela4 div.background-tela4 {
    background-image: linear-gradient(to top, #000000cf, #00000099 );
    width: 100vw;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.tela4 div div {
    margin: 0px 40px 0px 40px;
    text-align: center;
}

body.tela4 div div h1 {
    margin: 30px 0px 30px 0px ;
}